/* Global styles
-----------------------------------*/
body {
  margin: 0;
  padding: 0;
  font-family: 'lato', sans-serif;
}

.bold-text {
  font-weight: bold;
}

.blue-text {
  color: #216393;
}


/* navigation styles
-----------------------------------*/
nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-content: center;
  box-shadow: 0px 3px 6px #e6e6e6;
  padding-top: 10px;
}

.kedulogo {
  width: 150px;
  margin-left: 20px;
}

.usernav {
  margin-right: 20px;
  display: flex;
  align-self: center;
  font-weight: bold;
}

.usernav a {
  text-decoration: none;
  color: #044c7f;
}

.usernav img {
  width: 80%;
}

.nav-list {
  display: flex;
  color: #044c7f;
}

.nav-list li a:hover, .usernav:hover {
  opacity: 0.5;
}

.nav-list li {
  list-style: none;
  padding: 10px;
}

.nav-list li a {
  text-decoration: none;
  color: #044c7f;
}

/* Lesson plan styles
-----------------------------------*/
.subject-category {
  margin-left: 20px;
  flex: 1;
}

.subject-category h1 {
  margin-top: 20px;
}

.subject-main {
  display: flex;
}

.subjects {
  box-shadow: 0px 3px 6px #e6e6e6;
  margin-top: 30px;
  padding: 0 5px 5px 5px;
}

.subjects li {
  list-style-type: none;
  list-style-position: inside;
}

.subjects h2 {
  text-align: center;
  background: #F1F1F2;
  color: #044c7f;
}

.subjects li a {
  text-decoration: none;
  color: black;
}

.lessonplanBtn {
  background: #00A19B;
  color: white;
  width: 100%;
  padding: 7px;
  margin-top: 10px;
  border: none;
  cursor: pointer;
}

.subject-section {
  flex: 8;
}

.subject-section input {
  width: 200px;
}

.search-container {
  margin-top: 25px;
  margin-left: 100px;
  display: flex;
  align-items: center;
}

.searchicon {
  width: 20px;
  height: 20px;
}

.lessonplan-box {
  box-shadow: 0px 3px 6px #e6e6e6;
  padding: 20px;
  width: 250px;
  margin-top: 30px;
}

.lessonplan-box:hover {
  background: #F1F1F2;
}

.lessonplan-box h3 {
  text-align: center;
}

.center-info {
  display: flex;
  align-items: center;
  margin: auto;
  width: 60%;
  margin-top: 10px;
}

.center-info img {
  margin-right: 10px;
}

.lessonplan-container {
  display: flex;
  margin-left: 100px;
  justify-content: space-between;
  margin-right: 20px;
  flex-wrap: wrap;
}

/* KEDU COMMUNITY PAGE
-----------------------------------*/

.kedu-community h1, h2 {
  margin-left: 20px;
}

.welcome-box {
  margin-left: 20px;
  background: #044C7F;
  margin-right: 100px;
  color: white;
  box-shadow: 0px 3px 6px #e6e6e6;
  padding: 5px;
}

.community-container {
  display: flex;
}

.kedu-community {
  flex: 4;
}

.share-aside {
  flex: 1;
  margin-top: 45px;
}

.share-box {
box-shadow: 0px 3px 6px #e6e6e6;
padding: 10px;
margin-right: 20px;
}

.share-box a {
  display: block;
  text-decoration: none;
  margin-top: 10px;
}

.facebook-color {
  color: #3B5998;
}

.linkenin-color {
  color: #0077b5;
}

.subjects-community {
  box-shadow: 0px 3px 6px #e6e6e6;
  background: #F1F1F2;
  margin-top: 30px;
  margin-right: 100px;
  margin-left: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.first-info {
  flex: 4;
  padding-left: 10px;
}

.second-info {
  flex: 2;
}
