/* Global styles
-----------------------------------*/
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'lato', sans-serif;
}

.bold-text {
  font-weight: bold;
}

.blue-text {
  color: #216393;
}

.flex-aligncenter {
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
  color: black;
}

.active {
  color: #044c7f;
  opacity: 0.5;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.3em;
}

button {
  font-size: 14px;
  font-family: 'lato', sans-serif;
}


/* navigation styles
-----------------------------------*/
nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-content: center;
  box-shadow: 0px 3px 6px #e6e6e6;
  padding-top: 10px;
}

.kedulogo {
  width: 150px;
  margin-left: 20px;
}

.usernav {
  margin-right: 20px;
  display: flex;
  align-self: center;
  font-weight: bold;
}

.usernav a {
  text-decoration: none;
  color: #044c7f;
}

.usernav img {
  width: 80%;
}

.nav-list {
  display: flex;
  color: #044c7f;
}

.nav-list li a:hover, .usernav:hover {
  opacity: 0.5;
}

.nav-list li {
  list-style: none;
  padding: 10px;
}

.nav-list li a {
  text-decoration: none;
  color: #044c7f;
}

/* Lesson plan styles
-----------------------------------*/
.subject-category {
  margin-left: 20px;
  flex: 1.4;
}

.subject-category h1 {
  margin-top: 20px;
}

.subject-main {
  display: flex;
}

.subjects {
  box-shadow: 0px 3px 6px #e6e6e6;
  margin-top: 30px;
  width: 150px;
}

.subjects ul {
  padding-left: 30px;
  padding-bottom: 10px;
}

.subjects li {
  list-style-type: none;
  list-style-position: inside;
  margin-top: 5px;
}

.subjects h2 {
  text-align: center;
  background: #F1F1F2;
  color: #044c7f;
  padding: 5px;
}

.subjects li a {
  text-decoration: none;
  color: black;
}

.lessonplanBtn {
  background: #00A19B;
  color: white;
  width: 150px;
  padding: 10px;
  margin-top: 10px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.subject-section {
  flex: 8;
}

.subject-section input {
  width: 200px;
}

.search-container {
  margin-top: 25px;
  margin-left: 100px;
  display: flex;
  align-items: center;
}

.searchicon {
  width: 20px;
  height: 20px;
}

.lessonplan-box {
  box-shadow: 0px 3px 6px #e6e6e6;
  padding: 20px;
  width: 250px;
  margin-top: 30px;
  margin-right: 20px;
}

.lessonplan-box:hover {
  background: #F1F1F2;
}

.lessonplan-box h3 {
  text-align: center;
}

.center-info {
  display: flex;
  align-items: center;
  margin: auto;
  width: 60%;
  margin-top: 10px;
}

.center-info img {
  margin-right: 10px;
}

.lessonplan-container {
  display: flex;
  margin-left: 100px;
  /*justify-content: space-between;*/
  margin-right: 20px;
  flex-wrap: wrap;
}

/* KEDU COMMUNITY PAGE
-----------------------------------*/

.kedu-community h1, .kedu-community h2 {
  margin-left: 20px;
}

.welcome-box {
  margin-left: 20px;
  background: #044C7F;
  margin-right: 100px;
  color: white;
  box-shadow: 0px 3px 6px #e6e6e6;
  padding: 5px;
  padding-left: 10px;
}

.community-container {
  display: flex;
}

.kedu-community {
  flex: 4;
}

.share-aside {
  flex: 1;
  margin-top: 45px;
}

.share-box {
box-shadow: 0px 3px 6px #e6e6e6;
padding: 10px;
margin-right: 20px;
}

.share-box a {
  display: block;
  text-decoration: none;
  margin-top: 10px;
}

.facebook-color {
  color: #3B5998;
}

.linkedin-color {
  color: #0077b5;
}

.subjects-community {
  box-shadow: 0px 3px 6px #e6e6e6;
  background: #F1F1F2;
  margin-top: 30px;
  margin-right: 100px;
  margin-left: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.first-info {
  flex: 4;
  padding-left: 10px;
}

.second-info {
  flex: 2;
}

/* CODING TOPIC PAGE
-----------------------------------*/

.pagenumber {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pagenumber p {
  margin-right: 10px;
}

.flex-aligncenter a {
  margin-right: 5px;
  text-decoration: none;
  color: #044c7f;
  border: 1px solid #044c7f;
  border-radius: 50%;
  padding: 0px 5px;
}

.pagenumber a:hover {
  background: #044c7f;
  color: white;
}

.pagenumber .pagenumber-next {
  border: none;
}

.pagenumber .pagenumber-next:hover {
  border: 1px solid #044c7f;
  border-radius: 0;
}

.pagenumber button {
  border: none;
  background: #00A19B;
  padding: 10px;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

.pagenumber .active-page {
  background: #044c7f;
  color: white;
}

.topic-headlines {
  display: flex;
  font-weight: bold;
}

.topic-headlines p:first-child {
  margin-left: 10px;
}

.single-topic {
  display: flex;
  align-items: center;
  border-top: 1px solid #707070;
}

.gray-box {
 background: #F1F1F2;
}

.flex-container {
  display: flex;
}

.topic-container {
  border: 1px solid #707070;
}

.topic-section {
  flex: 4;
  margin-right: 100px;
  margin-left: 20px;
}

.topic-title {
  display: flex;
  align-items: center;
  margin-left: 10px;
  flex: 4;
}

.profile-pic {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.topic-info {
  display: flex;
  margin-left: auto;
  align-items: center;
  flex: 2;
  justify-content: space-between;
}

.headlines-margin {
  margin-left: auto;
  display: flex;
}

.headlines-margin p:first-child {
  margin-right: 90px;
}

.headlines-margin p:last-child {
  margin-right: 40px;
}

.replies-topic {
  border-right: 1px solid #707070;
  border-left: 1px solid #707070;
  padding-right: 10px;
  padding-left: 10px;
  height: 75px;
  width: 100px;
  text-align: center;
}

.message-topic {
  height: 75px;
  margin: auto;
}
/* Create lesson plan styles
-----------------------------------*/

.radio {
  display: flex;
  list-style: none;
  border: 1px solid;
  border-color: #F1F1F2;
  width: 550px;
}

.baggrund {
  background-color: #F1F1F2;
  color: #044C7F;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  width: 200px;
}

.codingradio {
  margin-left: 20px;
  margin-right: 5px;
}

.treinput button {
  background-color: #044C7F;
  color: white;
  border: none;
  padding: 10px;
  text-align: center;
  display: block;
  margin-top: 15px;
  margin-bottom: 60px;
  font-weight: bold;
  cursor: pointer;
}

.treinput textarea {
  height: 200px;
  width: 500px;
  border: none;
  background-color: #F1F1F2;
  margin-top: -10px;
  resize: none;
}

.asidepublish {
  background-color: #00A19B;
  color: white;
  border: none;
  padding: 10px;
  width: 100%;
  display: block;
  margin-bottom: 20px;
  font-weight: bold;
  cursor: pointer;
}

.firstbutton {
  background-color: #044C7F;
  color: white;
  border: none;
  padding: 10px;
  width: 100%;
  display: block;
  margin-bottom: 20px;
  font-weight: bold;
  cursor: pointer;
}

.firstbutton1 {
  background-color: #044C7F;
  color: white;
  border: none;
  padding: 10px;
  width: 100%;
  display: block;
  margin-bottom: 20px;
  margin-top: 150px;
  font-weight: bold;
  cursor: pointer;
}

.clesson {
  display: flex;
  width: 100%;
}

.sidepage {
  flex: 1;
  margin-right: 20px;
}

.sidepage img {
  margin-left: 20px;
}

.specs input {
  width: 100px;
  margin-left: 10px;
}

.sidepage h3 {
  background-color: #F1F1F2;
  color: #044C7F;
  text-align: center;
}

.section-flex {
  flex: 4;
  margin-left: 20px;
}


.specs {
  width: 250px;
  padding-bottom: 20px;
}

.skygge {
  width: 250px;
  box-shadow: 0px 3px 6px #e6e6e6;
  margin-bottom: 20px;
}

.asidepublish {
  margin-top: 75px;
}

.alignment {
  display: flex;
  align-items: center;
}

/* New post styles
-----------------------------------*/

.newpost {
  margin-left: 20px;
  margin-bottom: 40px;
}

.newpost-main h2 {
  margin-left: 20px;
}

.titel {
  width: 300px;
  height: 25px;
  margin-left: 20px;
  margin-top: -10px;
  margin-bottom: 35px;
  padding-left: 5px;
  background: #F1F1F2;
  border: none;
}

.tekstboks {
  margin-left: 20px;
  height: 200px;
  width: 500px;
  margin-top: -10px;
  display: flex;
  margin-bottom: 20px;
  border: none;
  padding-left: 5px;
  background: #F1F1F2;
}

.blueknap {
  background-color: #044C7F;
  border: none;
  color: white;
  font-weight: bold;
  padding: 10px;
  margin-left: 20px;
}

.greenknap {
  background-color: #00A19B;
  border: none;
  color: white;
  font-weight: bold;
  padding: 10px;
  margin-left: 335px;
}

/* FUNCTION POST
-----------------------------------*/
.comment-box {
  box-shadow: 0px 3px 6px #e6e6e6;
  width: 70%;
  height: 250px;
  margin-top: 30px;
}
.comment-user {
  display: flex;
  justify-content: space-between;
  background: #F1F1F2;
  padding-left: 20px;
}

.comment-user h3:first-child {
  color: #044C7F;
}

.comment-user p:last-child {
  padding-right: 20px;
  opacity: 0.5;
}

.comment-content {
  display: flex;
  align-items: center;
  padding-left: 20px;
  margin-top: 10px;
}

.comment-content p {
  width: 70%;
  margin-left: 10px;
}

.topic-post {
  margin-left: 20px;
}

.comment-box button {
  display: flex;
  margin-left: auto;
  border: none;
  background: #00A19B;
  padding: 10px;
  color: white;
  cursor: pointer;
  margin-right: 20px;
  margin-top: 20px;
  font-weight: bold;
}

.post-container {
  display: flex;
  align-items: center;
}

.upvote-comment {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upvote-comment p {
  opacity: 0.5;
  font-weight: bold;
}

/* Subject page
-----------------------------------*/
.aboutsection {
  display: flex;
  flex: 4;

}

.side-subjectpage {
  flex: 1;
  margin-top: 140px;
  margin-right: 20px;
}

.allsubjectcontainer {
  display: flex;
  width: 100%;
}

.checked {
  color: orange;
}

.ratingtext {
  margin: 10px;
  color: #999;
}

.about-box {
  box-shadow: 0px 3px 6px #e6e6e6;
  margin-right: 60%;
  padding: 10px;
  background-color: #F1F1F2
}

.goalstext {
  margin-top: 50px;
}

.info-container {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
}

.info-pic img {
  width: 100px;
  height: 100px;
}

.info-container p {
  margin-top: 90px;
  margin-left: 10px;
}

.kubopic img {
  margin-top: 30px;
  width: 200px;
  height: 250px;
}

.kubopic {
  display: flex;
  align-items: flex-end;
}

.kubo-container p {
  margin-top: 200px;
  margin-left: 10px;
}

.activity-container {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
}

.activity-pic img{
  width: 200px;
  height: 100px;
}

.pencil-pic img {
  width: 200px;
  height: 100px;
  margin-left: 30px;
}

.pencil-pic p {
  margin-left: 30px;
}


.subjectbtn {
  background-color: #00A19B;
  color: white;
  border: none;
  padding: 10px;
  width: 100%;
  display: block;
  margin-bottom: 20px;
  font-weight: bold;
  cursor: pointer;
}

.subjectbtn1 {
  background-color: #00A19B;
  color: white;
  border: none;
  padding: 10px;
  width: 100%;
  display: block;
  margin-bottom: 20px;
  font-weight: bold;
  cursor: pointer;
}

.editbtn {
  background-color: #044C7F;
  color: white;
  border: none;
  padding: 10px;
  width: 100%;
  display: block;
  margin-bottom: 20px;
  font-weight: bold;
  cursor: pointer;
}

.deletebtn {
  background-color: #EF4360;
  color: white;
  border: none;
  padding: 10px;
  width: 100%;
  display: block;
  margin-bottom: 20px;
  font-weight: bold;
  cursor: pointer;
}

.sharebtn {
  background-color: #3B5998;
  color: white;
  border: none;
  padding: 10px;
  width: 100%;
  display: block;
  margin-bottom: 20px;
  font-weight: bold;
  cursor: pointer;
}

.shadow {
  width: 100%;
  box-shadow: 0px 3px 6px #e6e6e6;
  margin-bottom: 20px;
}

.specific {
  width: 100%;
  padding-bottom: 20px;
}

.align {
  display: flex;
  align-items: center;
  text-align: center;
  margin: auto;
  width: 70%;
}

.side-subjectpage h3 {
  background-color: #F1F1F2;
  color: #044C7F;
  text-align: center;
  width: 100%;
}

.side-subjectpage p {
  text-align: center;
  margin-left: 10px;
}

.side-subjectpage img {
  margin-left: 20px;
}

.commentcontainer {
 width: 70%;
 height: 200px;
 border: none;
 background-color: #F1F1F2;
 resize: none;
 display: flex;
 flex-direction: column;
 margin-top: 20px;
}

.commentbtn {
  background-color: #00A19B;
  color: white;
  border: none;
  padding: 10px;
  display: block;
  font-weight: bold;
  margin-left: auto;
  margin-right: 20px;
  margin-bottom: 15px;
  cursor: pointer;
}

.textcomment {
  width: 70%;
  height: 100px;
  border: 1px solid #707070;
  background-color: white;
  resize: none;
  margin-left: 30px;
}

.profilepicture {
  width: 40px;
  height: 40px;
}

.contentimg {
  display: flex;
  align-items: center;
  padding-top: 30px;
  margin-left: 20px;
  margin-bottom: 30px;
}

.commenttitle {
  border-bottom: 1px solid #707070;
  width: 70%;
  margin-top: 50px;
}
